table, th, td {
  background: #222 !important;
  color: #eee !important;
}
th {
  background: #444 !important;
  color: #fff !important;
}
tr:nth-child(even) td {
  background: #333 !important;
}
tr:nth-child(odd) td {
  background: #222 !important;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1em;
}
th, td {
  border: 1px solid #555 !important;
  padding: 0.5em 1em;
  text-align: left;
}
td:first-child {
  white-space: nowrap !important;
}
